#sub-unit {
  background-color: whitesmoke;
  width: 20%;
}

h3 {
  margin: 0;
  padding: 0;
}

#container {
    background-color: slategray;
    padding: 10px;
}

.hidden-inputs {
  display: none;
}
